<div id="topnav">
<nav class="navbar navbar-fixed-top navbar-inverse">

    <div class="navbar-header">
     <%= image_tag("showtime.jpg",height: 50,width: 69)%>

      <a class="navbar-brand" ><%= link_to 'MOVIE' ,root_path,id: "logo" %></a>
  
    </div>
    <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
     <li><%= link_to 'My Movies','/mymovies' %></li>
          <li><%= link_to 'Top Rated','/toprated' %></li>
          <li><%= link_to 'Now Showing','/nowshowing' %></li>
          <li><%= link_to 'Upcoming','/upcoming' %></li>
    <li class="dropdown"  >
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Genre <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" style="max-height: 100px;height:100px;overflow: auto;" >
            <li><%= link_to 'Adventure',{:controller => "home", :action => "genre", :genre_id => 12 }%></li>
            <li><%= link_to 'Action',{:controller => "home", :action => "genre", :genre_id => 28 }%></li>
            <li><%= link_to 'Animation',{:controller => "home", :action => "genre", :genre_id => 16 }%></li>
            <li><%= link_to 'Comedy',{:controller => "home", :action => "genre", :genre_id => 35 }%></li>
            <li><%= link_to 'Crime',{:controller => "home", :action => "genre", :genre_id => 80 }%></li>
            <li><%= link_to 'Documentry',{:controller => "home", :action => "genre", :genre_id => 99 }%></li>
            <li><%= link_to 'Drama',{:controller => "home", :action => "genre", :genre_id => 18 }%></li>
            <li><%= link_to 'Family',{:controller => "home", :action => "genre", :genre_id => 10751 }%></li>
            <li><%= link_to 'Fantasy',{:controller => "home", :action => "genre", :genre_id => 14 }%></li>
            <li><%= link_to 'History',{:controller => "home", :action => "genre", :genre_id => 36 }%></li>
            <li><%= link_to 'Horror',{:controller => "home", :action => "genre", :genre_id => 27 }%></li>
            <li><%= link_to 'Music',{:controller => "home", :action => "genre", :genre_id => 10402}%></li>
            <li><%= link_to 'Mystery',{:controller => "home", :action => "genre", :genre_id => 9648 }%></li>
            <li><%= link_to 'Romance',{:controller => "home", :action => "genre", :genre_id => 10749 }%></li>
            <li><%= link_to 'Science Fiction',{:controller => "home", :action => "genre", :genre_id => 878 }%></li>
            <li><%= link_to 'TV Movie',{:controller => "home", :action => "genre", :genre_id => 10770 }%></li>
            <li><%= link_to 'Thriller',{:controller => "home", :action => "genre", :genre_id => 53 }%></li>
            <li><%= link_to 'War',{:controller => "home", :action => "genre", :genre_id => 10752 }%></li>
            <li><%= link_to 'Western',{:controller => "home", :action => "genre", :genre_id => 37 }%></li>
          </ul>
    

        <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Friends <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" >
      <li><%= link_to 'My friends','/myfriends' %></li>
     <li><%= link_to 'Requests','/friendrequest' %></li>
     <li><%= link_to 'Feed','/feed '%></li>
    </ul>



    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" >
    <li><%= link_to 'Profile',current_user %></li>
  <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
  </ul>
  </ul>
  <% else %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
      <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li> 
    </ul>
    <%end%>
  
</nav>
</div>

<% if user_signed_in? %>
      <div class="row" style="float: left;" >
        <aside class="col-md-6 col-md-offset-3">
          <%= form_tag('/search', :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
             <button  class="btn btn-primary">
             Search
             </button>
        <% end %>
       </aside>
     </div>
     <div class="row" style="float: right;" >
        <aside class="col-md-6 col-md-offset-3">
          <%= form_tag('/findfriends', :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Find Friends" %>
             <button  class="btn btn-primary">
             Search
             </button>
        <% end %>
       </aside>
     </div>

    <% end %>

<% if user_signed_in? %>

  <h5 id="detail">
    Logged in as <strong><%= current_user.email %></strong>
</h5>
  <% end %>